.temperature {
  background: linear-gradient(to bottom right, #ffb600, yellow);
}

.humidity {
  background-color: #1997c6;
}
.outside {
  background-color: #1BC98E;
}
.smiley {
  font-size: 5rem;
}
.fa-thermometer-half {font-size: 4rem;}

@include media-breakpoint-up(lg) {
  .smiley  { font-size: 10rem;  }
  .fa-thermometer-half {font-size: 8rem;}
}
