<header>
    <nav class="navbar navbar-light navbar-static bg-faded" role="navigation">
        <div class="overlay"></div>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="" class="img-fluid logo fixed-top m-2  ">
        </a>

        <ul class="nav navbar-nav">
            <li class="nav-item">
                <button class="navbar-toggler pull-xs-right" id="navbarSideButton" type="button">
                    &#9776;
                </button>
            </li>
            <!-- insert more nav-items if you so choose -->
        </ul>
        <ul class="navbar-side" id="navbarSide">
            <li class="navbar-side-item">
                <a href="#" class="side-link">Login</a>
            </li>
            <li class="navbar-side-item">
                <a href="#" class="side-link"></a>
            </li>
            <li class="navbar-side-item">
                <a href="#" class="side-link"></a>
            </li>
            <li class="navbar-side-item">
                <a href="#" class="side-link">About</a>
            </li>
        </ul>
    </nav>

</header>