{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ include('menu.html.twig') }}
    {% endblock %}
    <!--Main layout-->
    <main>
        <div class="container">
            lorem ipsum
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>
        <script type="application/javascript">
          $(document).ready(function () {

            // Open navbarSide when button is clicked
            $('#navbarSideButton').on('click', function () {
              $('#navbarSide').addClass('reveal');
              $('.overlay').show();
            });

            // Close navbarSide when the outside of menu is clicked
            $('.overlay').on('click', function () {
              $('#navbarSide').removeClass('reveal');
              $('.overlay').hide();
            });

          });
        </script>

    </footer>
    <!--Footer-->
{% endblock %}