{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ include('menu.html.twig') }}
    {% endblock %}
    <!--Main layout-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-12 p-1">
                    <div class="temperature h-100">
                        <h2 class="text-right"><a
                                    href="https://www.accuweather.com/ro/ro/craiova/287856/current-weather/287856">Living
                                room (#1)</a></h2>
                        <div class="temp text-center">
                            <span class="large-temp display-1">25°</span>
                            <span class="temp-label text-muted display-4">C</span>
                            <span class="clearfix"></span>
                            <span class="location text-left">Last update: 5 min ago << green >> </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-6 p-1">
                    <div class="humidity h-100">
                        <h3>Humidity</h3>
                        <div class="humidity">
                            <p class="text-lg-center"><i class="fa fa-smile-o smiley" aria-hidden="true"></i>
                                <span class="location display-3">45</span><span class="temp-label text-muted display-5">%</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-6 p-1">
                    <div class="outside h-100 row-eq">
                        <h3>Outside</h3>
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-thermometer-half" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 float-right text-right">
                                <span class="large-temp display-2">5°</span>
                                <span class="temp-label text-muted display-5">C</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                Lorem ipsum
            </div>
        </div>
        </div>
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>
        <script type="application/javascript">
          $(document).ready(function () {

            // Open navbarSide when button is clicked
            $('#navbarSideButton').on('click', function () {
              $('#navbarSide').addClass('reveal');
              $('.overlay').show();
            });

            // Close navbarSide when the outside of menu is clicked
            $('.overlay').on('click', function () {
              $('#navbarSide').removeClass('reveal');
              $('.overlay').hide();
            });

          });
        </script>

    </footer>
    <!--Footer-->
{% endblock %}