{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ include('menu.html.twig') }}
    {% endblock %}
    <!--Main layout-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-12 temperature">
                    <h3><a href="https://www.accuweather.com/ro/ro/craiova/287856/current-weather/287856">Location</a></h3>
                    <div class="temp">
                        <span class="large-temp display-1">-5°</span>
                        <span class="temp-label text-muted display-4">C</span>
                        <span class="clearfix"></span>
                        <span class="location">RealFeel® -6°</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-6 humidity">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>
        <script type="application/javascript">
          $(document).ready(function () {

            // Open navbarSide when button is clicked
            $('#navbarSideButton').on('click', function () {
              $('#navbarSide').addClass('reveal');
              $('.overlay').show();
            });

            // Close navbarSide when the outside of menu is clicked
            $('.overlay').on('click', function () {
              $('#navbarSide').removeClass('reveal');
              $('.overlay').hide();
            });

          });
        </script>

    </footer>
    <!--Footer-->
{% endblock %}